'name': 'Binary strings (strings output)'
'scopeName': 'source.binstrings'

'fileTypes': [
  'binstr'
  'binstrings'
  'memstr'
]
'patterns': [
  {
    # https://github.com/blacktop/language-yara/blob/7fb3d8db47fee6901031b3ad6a72175abb210195/grammars/yara.cson#L34
    'match': '\\b(0(x|X)[0-9a-fA-F]+)(MB|KB)?\\b'
    'name': 'constant.numeric.binstrings'
  }
  
  {
    'match': '\\b[a-zA-Z]:(\\\\.{0,256})+?'
    'name': 'string.filepath.windows.binstrings'
  }
  
  {
    # adapted from https://github.com/snowydad/language-aliasworlds-ini/blob/aaa27851cf17c6bbbf9a2adb6c1bbdff9c0de22e/grammars/ini.cson#L81
    'captures':
      '1':
        'name': 'markup.underline.link.http.hyperlink.binstrings'
      '2':
        'name': 'markup.underline.link.http.hyperlink.binstrings'
    'match': '(http://|https://|ftp://|ftps://|sftp://|file://|smb://)(.*?)[\\s]*?$'
    'name': 'string.uri.binstrings'
  }
  
  {
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.binstrings'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.binstrings'
    'name': 'string.quoted.double.binstrings'
    'patterns': [
      {
        'include': '#string_escaped_char'
      }
    ]
  }
]
